p{
	
	font-size: 30px;
	
}

.c{
	
	color: blue;
}

/* 交集选择器 */
/* p 元素 中使用 c 选择器后可以应用这个样式   p & c 的交集*/
p.c{
	
	text-decoration: underline;
	
}

/* 并集选择器 */
/* 可以对多个元素设置同一个样式 1. html 标签元素 2. 选择器  中间使用 ， 隔开*/

/*  后代选择器 p span  中间加空格 只有 p 里面的span才会有span的样式*/


/* 子选择器 只有对直接的后代才有影响，其他后代没有影响 用> 表示的是直接后代 */

div>span{
	
	color:red;
}













